@import "../../theme/variables.scss";

ion-toolbar {
    
  ion-title {
    text-align: center;
    font-family: Montserrat;
    font-size: max(4vw, 16px);
    

  }
  ion-button{
    ion-icon{
      font-size: max(6vw, 14px);
      
    }
  }
}
