<ion-header [translucent]="true">
  <app-nav-bar></app-nav-bar>
</ion-header>


<ion-content [fullscreen]="true">
  <app-filter-btn></app-filter-btn>
  <ion-item>
    <ion-title>filtre page</ion-title>
  </ion-item>


  <ion-item class="dashboardBtn">
    <ion-chip>
      <ion-icon name="trail-sign"></ion-icon>
      <ion-label>1</ion-label>
    </ion-chip>
    <ion-chip>
      <ion-icon name="flag"></ion-icon>
      <ion-label>2</ion-label>
    </ion-chip>

    <ion-chip>
      <ion-icon name="time"></ion-icon>
      <ion-label>3</ion-label>
    </ion-chip>
    <ion-chip>
      <ion-icon name="warning"></ion-icon>
      <ion-label>4</ion-label>
    </ion-chip>
  </ion-item>
  <app-filter-btn></app-filter-btn>
</ion-content>