@import "../../../theme/variables.scss";

ion-title {
  font-family: Montserrat;
  font-size: max(4vw, 16px);


}

ion-item {

  margin: 3vh 0;
  box-shadow: 0 .1em 1em rgba(0, 0, 0, 0.37);

  ion-label {
    font-family: Montserrat;
    font-size: max(3vw, 14px);
  }

}
